* {
    text-decoration: none;
    color: black;
}


.container .kiri ul li {
    transition: 0.2s;
}

.container .kiri ul li:hover {
    background-color: #3490DC;
}


.kartu {
    width: 240px;
    height: 220px;
    margin-top: 15px;
}

.detail {
    display: inline-block;
    width: 50px;
    padding: 7px;
}

.container .kanan form {
    width: 100%;
}

.container .kanan form input {
    width: 425px;
}
